<div class="profile-content-item">
    <div class="profile-content">
        <div class="settings-table">
            <ul class="list-reset settings-table-list">
                <li class="settings-table-item">
                    <div class="settings-table-input">
                        <p class="settings-table-label">Ваше название или имя:</p>
                        <input class="settings-table-value" type="text" placeholder="ПРОВЕРОЧНЫЙ">
                    </div>
                    <!--                <div class="settings-table-edit">-->
                    <!--                    при желании сменить, обратитесь к своему-->
                    <!--                    <a href="#">менеджеру</a>-->
                    <!--                </div>-->
                </li>

                <li class="settings-table-item">
                    <div class="settings-table-input">
                        <p class="settings-table-label">E-mail (основной):</p>
                        <input class="settings-table-value" type="email" placeholder="sdfdsfs@gmail.com">
                    </div>
                </li>

                <li class="settings-table-item">
                    <div class="settings-table-input">
                        <p class="settings-table-label">Телефон:</p>
                        <input class="settings-table-value" type="tel" placeholder="+38-093-123-45-67">
                    </div>
                </li>

                <li class="settings-table-item">
                    <div class="settings-table-input">
                        <p class="settings-table-label">Физический адрес:</p>
                        <input class="settings-table-value" type="text" placeholder="Киев, Гарматная, 31">
                    </div>
                </li>

                <li class="settings-table-item">
                    <div class="settings-table-input">
                        <p class="settings-table-label">Ваш менеджер:</p>
                        <input class="settings-table-value" type="text" placeholder="Н. Андрей">
                        <div class="settings-table-edit">при желании сменить, обратитесь к своему <a href="#">менеджеру</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn-reset profile-button">Сохранить</button>
    </div>
</div>
