:root {
  --accent-color: #B3DC72;
  --black-color: #000;
  --white-color: #FFF;
  --grey-color: #F4F4F4;
  --dark-grey-color: #27272E;
  //--dark-grey-color: #282828;
  --grid-gap: 40px;

  --index-size: 8px;
  --index: calc(1vw + 1vh);
}
