.nav {

  &-list {
    grid-template-columns: repeat(5, 1fr);
    z-index: 9999;
  }

  &-item {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--white-color);
    border-bottom: none;
  }

}
