<div class="profile-content-item">
    <div class="settings-table">
        <ul class="list-reset settings-table-list">
            <li class="settings-table-item">
                <div class="settings-table-input">
                    <p class="settings-table-label">Новый ароль:</p>
                    <input class="settings-table-value" type="password" placeholder="******">
                </div>
            </li>
            <li class="settings-table-item">
                <div class="settings-table-input">
                    <p class="settings-table-label">Подтверждение пароля:</p>
                    <input class="settings-table-value" type="password" placeholder="******">
                </div>
            </li>
        </ul>
    </div>
    <button class="btn-reset profile-button">Сохранить</button>
</div>
