<div class="sidenav-wrapper">
    <ul class="list-reset sidenav-list">
        <li class="sidenav-item">
            <a routerLink="orders" class="sidenav-link" routerLinkActive="sidenav-link-active">Заказы</a>
        </li>
        <li class="sidenav-item">
            <a routerLink="payments" class="sidenav-link" routerLinkActive="sidenav-link-active">Оплаты</a>
        </li>
        <li class="sidenav-item">
            <a routerLink="invoices" class="sidenav-link" routerLinkActive="sidenav-link-active">Счета</a>
        </li>
        <li class="sidenav-item">
            <a routerLink="settings" class="sidenav-link" routerLinkActive="sidenav-link-active">Настройки</a>
        </li>
<!--        <li class="sidenav-item">-->
<!--            <a routerLink="managers" class="sidenav-link" routerLinkActive="sidenav-link-active">Контактные лица</a>-->
<!--        </li>-->
<!--        <li class="sidenav-item">-->
<!--            <a routerLink="legal-entities" class="sidenav-link" routerLinkActive="sidenav-link-active">Юридические лица</a>-->
<!--        </li>-->
    </ul>
<!--    <a class="sidenav-item">-->
<!--        <a class="sidenav-link">Выйти</a>-->
<!--    </a>-->
</div>

