<div class="user-wrapper">

        <div class="user-header">
            <img class="user-image" src="./assets/image/profile/user-image.png" alt="">
            <div class="user-text">
                <div class="user-name">{{ userName }}</div>
            </div>

        </div>

        <div class="user-item">
            <div class="user-description">Личный счет: </div>
            <div class="user-value">{{ userId }}</div>
        </div>

        <div class="user-item">
                <div class="user-description">Скидка:</div>
                <div class="user-value">5%</div>
        </div>

        <div class="user-item">
            <div class="user-description">Баланс:</div>
            <div class="user-value">256.00 грн</div>
        </div>


        <div class="user-item user-item-manager">
            <div class="user-item-wrapper">
                <div class="user-description user-description-manager">Ваш менеджер:</div>
                <div class="user-value">Костерная Людмила</div>
                <div class="user-value">093-123-45-67</div>
                <div class="user-value">email&#64;mail.com</div>
            </div>
        </div>



    <button class="btn-reset profile-button user-button">Выйти</button>

</div>


<!--<div class="user-wrapper">-->
<!--    <div class="user-content">-->
<!--        <div class="user-header">-->
<!--            <div class="user-text">-->
<!--                <div class="user-name">{{ userName }}</div>-->
<!--                <div class="user-id">id: <span>{{ userId }}</span></div>-->
<!--            </div>-->
<!--            <img class="user-image" src="./assets/image/profile/user-image.png" alt="">-->
<!--        </div>-->

<!--        <div class="user-row">-->
<!--            <div class="user-row-item">-->
<!--                <div class="user-description">Скидка:</div>-->
<!--                <div class="user-value">5%</div>-->
<!--            </div>-->

<!--            <div class="user-row-item">-->
<!--                <div class="user-description">Баланс:</div>-->
<!--                <div class="user-value">256.00 грн</div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="user-row-item">-->
<!--            <div class="user-manager-item">-->
<!--                <div class="user-description">Ваш менеджер:</div>-->
<!--                <div class="user-value">Костерная Людмила</div>-->
<!--            </div>-->
<!--            <div class="user-manager-item">-->
<!--                <div class="user-description">Телефон:</div>-->
<!--                <div class="user-value">093-123-45-67</div>-->
<!--            </div>-->
<!--            <div class="user-manager-item">-->
<!--                <div class="user-description">E-mail:</div>-->
<!--                <div class="user-value">email&#64;mail.com</div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->

<!--    <button class="btn-reset profile-button user-button">Выйти</button>-->

<!--</div>-->

